@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');
.card-button{
    margin-top: 20px;
    width: 382px;
    height: 72px;
    border-radius: 8px;
    font-size: 22px;
    font-weight: 800;
    color: black;
    line-height: 24.64px;
    font-family:'PT Mono';
    background-color: white;
    margin-bottom: 1rem;
}

.card-button:hover {
    cursor: pointer;
    opacity: .8;
    background-color: rgba(128, 128, 128, 0.361);
}
.card-button:active {
    color: black;
    background-color: white;
}