@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-form {
    display: flex;
    flex-direction: column;
    max-width: 400px; 
    margin: auto; 
  
    &__label {
      margin-bottom: .5rem;
      font-weight: bold;
    }
  
    &__input,
    &__select {
      width: 100%;
      padding: .5rem;
      margin-bottom: 1rem;
      box-sizing: border-box;
    }

}

.card-data {
  background-color: #3498db;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: #fff;
  padding: 20px;
  margin: 20px;
  text-align: left;
  width: 25rem;

  p {
    margin: 10px 0;
    font-size: 16px;
  }

  .card__item {
    
      margin: 10px 0;
      font-size: 16px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      background-color: #2c3e50;
      border-radius: 5px;
    

    &--number {
      
        font-size: 18px;
        letter-spacing: 2px;
        margin-bottom: 15px;
      }
    

    &--holder,
    &--valid-thru,
    &--ccv {
      
        flex: 1;
        margin-right: 10px;
      }
    }
  }

.error-message {
  color: red;
}

.add-card-btn {
  width: 382px;
  height: 72px;
  border-radius: 8px;
  background: rgba(0, 0, 0, 1);
  font-size: 22px;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
  line-height: 24.64px;
  font-family:'PT Mono'
}

.confirmation-message {
  margin: 0.5rem 0;
  color: red;
  width: 23rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    padding: 0 0.3rem;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
  }
}


.confirmation-buttons {
  display: flex;
  gap: 0.5rem;
  margin: 1rem 0 0.5rem;

  button {
    border: none;
    border-radius: 15% / 50%;
    background-color: #ff3e3e;
    color: white;
    padding: 0.4rem;
  }
}