.card-stack{
    display: flex;
    flex-direction: column;
    position: relative;
    max-height: 23rem;
}
.card-stack__item:nth-child(1){
    transform: translateY(0%);
}
.card-stack__item:nth-child(2){
    transform: translateY(-82%);
}
.card-stack__item:nth-child(3){
    transform: translateY(-164%);
}
